<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLxMM_LV653V_Cqd0WJ9UeMKerHf7k5l4</string>
	<key>GCM_SENDER_ID</key>
	<string>663179251831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loanemicalc.app</string>
	<key>PROJECT_ID</key>
	<string>loanemicalc-2f66f</string>
	<key>STORAGE_BUCKET</key>
	<string>loanemicalc-2f66f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663179251831:ios:c0671fffc4f2542e9d7672</string>
</dict>
</plist>